<h1>New Book</h1>
<%= simple_form_for Book.new do |f| %>
<!-- <%= form_for(@book, multipart: true) do |f| %> -->
<% end %>

<%= render 'form', book: @book %>

<%= link_to 'Back', books_path %>
<% end %>
